modules = [
  "web",
  "vue-node-20",
  "nodejs-22",
  "php-8.4",
  "python-3.10",
  "bash",
  "python-3.9",
  "nix",
  "angular-node-24",
]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "Serve Website"

[[workflows.workflow]]
name = "Serve Website"
author = 47015097
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ballserver-org && python -m http.server 5000 --bind 0.0.0.0"

[[ports]]
localPort = 5000
externalPort = 80
